* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


/* contenitore principale */

.container {
  width: 70%;
  height: 60vh;
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/* due contenitori interni alcontenitore principale */

.container .container-left,
.container .container-right {
  height: 100%;
}

.container-left {
  width:80%;
  float:left;
  position: relative;
}

.container-right {
  width:20%;
  float:left;
  position: relative;
}


/* scritte del contenitore a destra */
 
 .container-under-left {
  position:absolute;
  bottom:30px;
  left:65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .titles {
  display: none;
  color:white;
  font-size: 20px;
  font-weight:900;
}

.activetitles {
  display: block;
}

/* items */


 .item {
  display: none;
  height:100%;
  width:100%;
  object-fit: cover;
}

.active {
  display: block;
}

/* arrows */

.arrow {
  position: absolute;
  left:50%;
  transform: translate(-50%);
}

.arrow.up {
  top:10px;
}

.arrow.down {
  bottom:10px;
}
.arrow :nth-child(1) {
  font-size: 25px;
  border: 5px;
  border-radius: 100%;
  background-color: #cccccc;
}


/* images */
.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* debug */


.debug .container {
  background-color: yellow;

}
.debug .container-left,
.debug .container-right {
  border:1px solid black;
}

.debug .container-left .title {
  border:1px solid black;
  width:20%;
  height:20%;
}

.debug .item {
  border:1px solid black;
}