* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


/* contenitore principale */

.container {
  width: 70%;
  height: 60vh;
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/* due contenitori interni alcontenitore principale */

.container .container-left,
.container .container-right {
  height: 100%;
}

.container-left {
  width:80%;
  float:left;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.container-right {
  width:20%;
  float:left;
  position: relative;
}


/* scritte del contenitore a destra */

.container-right .scritte {
  float:right;
}

/* items */

.container-right .item {
  height:calc(100% / 5);
  width:100%;
}

/* arrows */

.arrow {
  position: absolute;
  left:50%;
  transform: translate(-50%);
}

.arrow.up {
  top:10px;
}

.arrow.down {
  bottom:10px;
}
.arrow :nth-child(1) {
  font-size: 25px;
  border: 5px;
  border-radius: 100%;
  background-color: #cccccc;
}


/* debug */


.debug .container {
  background-color: yellow;

}
.debug .container-left,
.debug .container-right {
  border:1px solid black;
}

.debug .container-left .scritte {
  border:1px solid black;
  width:20%;
  height:20%;
}

.debug .item {
  border:1px solid black;
}